/* css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* header part */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 73px;
}

.nav-bar ul{
  display: flex;
}

.nav-bar ul li a{
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stand-alone-nav{
  padding: 16px 56px;
  background: linear-gradient(to right, #D434FE, #D434FE, #903AFF);
  margin-left: 65px;
}

.other-navs{
  margin-right: 51px;
}

.sec01{
  background: url(assets/background\ top.png);

  height: 100vh;
  width: 100%;
  /* height: 849px; */
  background-size: cover;
  background-repeat: no-repeat;
}

.Ign{
  color: #FFF;
  font-family: Montserrat;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.partthon{
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  /* 33.2px */
}

.glknd-hackon{
  color: #FFF;
  font-family: Clash Display;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.onep0{
  color: #D434FE;
}

.below-alone{
  padding: 16px 56px;
  background: linear-gradient(to right, #D434FE, #D434FE, #903AFF);
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* section 02 */
.sec02{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 62px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.18);

  /* background: url(assets/The\ big\ idea.png);
  height: 100vh;
  width: 100%;
  /* height: 849px; */
  /* background-size: cover;
  background-repeat: no-repeat; */
}

.intro-getLnked{
  color: #FFF;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%;
  width: 398px;
    /* 0px */
}

.getLnked{
  color: #D434FE;
}

.pag-getLnked{
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 196.429% */
  width: 41vw;
}

.big-idea{
  background: url(assets/The\ big\ idea.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 563px;
  height: 477px;
}

.itg-getLnked{
  margin-top: 100px;
}

.tech-getLnked{
  color: #D434FE;
}

/* section 3 */
.sec03{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  /* padding: 62px 0; */
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.rul-gui{
  color: #FFF;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 120%; */
  width: 12vw;
  margin-bottom: 14px;
    /* 0px */
}

.gui{
  color:#D434FE;
}

.sit-girl{
  background: url(assets/sit_girl-purp_circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 664px;
  height: 664px;
}

.rul-gui-pag{
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
    /* 196.429% */
  width: 31vw;

}

.rul-gui-main{
  margin-top: 157px;
}

/* section 04 */
.sec04{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 78px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.human-small-tree{
  background: url(assets/humans-small-tree.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 710px;
  height: 714px;
}

.att-main{
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
  width: 35vw;
  margin-top: 25px;
}

.att-purp-big{
  color: #FF26B9;
  font-size: 16px;
}

.key-att{
  color: #D434FE;
}

.jud-crat{
  color: #FFF;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  width: 16vw;
    /* 0px */
}

.rd-att{
  padding: 16px 56px;
  background: linear-gradient(to right, #D434FE, #D434FE, #903AFF);
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.att-main-05{
  margin-bottom: 78px;
}

/* section 05 */
.sec05 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 2vw 1vw;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.freq-que {
  color: #FFF;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  width: 250px;
  /* 0px */
  margin-bottom: 15px;
}

.que {
  color: #D434FE;
}

.freque-pag {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  width: 360px;
  /* 196.429% */
  margin-bottom: 55px;
}

.fre-que-all-main {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  width: 433px;
  /* 196.429% */
}

.freq-plus {
  color: #D434FE;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  /* 137.5% */
}

.ques-man {
  background: url(assets/thinking-man.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 741px;
  height: 835px;
}

.ques-side {
  margin-top: 134px;
}

.space-line-plus-of4{
  margin-bottom: 19px;
}

/* section 06 */
.sec06{
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* flex-direction: row; */
  /* padding: 2vw 1vw; */
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.timeline{
  text-align: center;
  /* align-items: center; */
  color: #FFF;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 0px */
}

.time-pag{
  color: #FFF;
  text-align: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.4%;
  padding: 1px 38vw;
    /* 24.136px */
}

/* .time-fl{
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.time-lower{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 20px;
}

.time-all-h{
  color: #D434FE;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time-all-p{
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.9%;
    /* 27.344px */
}